@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}

.checkbox__label {
  text-align: left;
  font-size: 0.9375rem;
  line-height: 125%;
  opacity: 0.5;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 0.4375rem;
  gap: 0.875rem;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #C0C0C0;
  background: #FFF;
  border-radius: 0.25rem;
}

._form-error .checkbox__label:before {
  border-color: #f00;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.select {
  min-width: 0;
  position: relative;
}

.select__title {
  cursor: pointer;
  position: relative;
  height: 3.75rem;
  width: 100%;
  border-radius: 3.75rem;
  color: inherit;
  text-align: left;
  border: 0.0625rem solid #E4E4E4;
  background: #FFF;
  -webkit-box-shadow: 0px 0.4375rem 0.5625rem 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0.4375rem 0.5625rem 0px rgba(0, 0, 0, 0.03);
  color: #000;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 133.333333%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 1.5625rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: url(../img/form-contact/arrow.svg);
  height: 0.5625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(0) translate(0, -40%);
      -ms-transform: rotate(0) translate(0, -40%);
          transform: rotate(0) translate(0, -40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 0.125rem solid #E4E4E4;
  border-top: 0;
  padding: 10px 0px 5px 0px;
  border-radius: 1.25rem;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 133.333%;
  height: 2.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0.9375rem 1.5625rem;
  color: inherit;
}

.select__option._select-selected {
  background-color: #c6c0c0;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: 100%;
  border-bottom: 0;
  padding: 5px 0px 10px 0px;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.form-contact {
  min-height: 100vh;
  background: #F3F3F3;
}

.form-contact__container {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form-contact__container::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -13.5rem;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: rgba(235, 109, 31, 0.79);
  -webkit-filter: blur(260px);
          filter: blur(260px);
}

.form-contact__container::after {
  content: url(../img/form-contact/form-lines.svg);
  position: absolute;
  top: -0.9375rem;
  z-index: 1;
}

.form-contact__body {
  position: relative;
  z-index: 10;
  max-width: 50.8%;
}

.form-contact__label {
  color: #7C1DC9;
  line-height: 157.895%;
  text-transform: capitalize;
}

.form-contact__title {
  font-weight: 300;
  line-height: 111.111111%;
  text-transform: capitalize;
}

.form-contact__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 1.25rem;
}

.form-contact__item {
  position: relative;
}

.form-contact__item._form-focus .form-contact__placeholder {
  opacity: 0;
}

.form-contact__item_comment {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.form-contact__item_comment textarea {
  resize: none;
  height: 9rem;
  border-radius: 1.25rem;
  padding: 1.125rem 1.5625rem;
}

.form-contact__placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 1.5625rem;
  font-size: 0.9375rem;
  -webkit-transform: translate(0, calc(-50% + 0.0625rem));
      -ms-transform: translate(0, calc(-50% + 0.0625rem));
          transform: translate(0, calc(-50% + 0.0625rem));
  font-weight: 500;
  line-height: 133.333333%;
  /* 20/15 */
}

.form-contact__placeholder span {
  color: #F00;
}

.form-contact__placeholder.hidden {
  opacity: 0;
}

.form-contact__input {
  caret-color: #A01DAD;
  outline: none !important;
  width: 100%;
  padding: 0rem 1.5625rem;
  height: 3.75rem;
  border-radius: 3.75rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 133.333%;
  color: rgba(0, 0, 0, 0.5);
  border: 0.0625rem solid #E4E4E4;
  background: #FFF;
  -webkit-box-shadow: 0px 0.4375rem 0.5625rem 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0.4375rem 0.5625rem 0px rgba(0, 0, 0, 0.03);
}

.form-contact__input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-right: 0.625rem;
}

.form-contact__input::-moz-placeholder {
  color: rgb(0, 0, 0);
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-right: 0.625rem;
}

.form-contact__input:-ms-input-placeholder {
  color: rgb(0, 0, 0);
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-right: 0.625rem;
}

.form-contact__input::-ms-input-placeholder {
  color: rgb(0, 0, 0);
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-right: 0.625rem;
}

.form-contact__input::placeholder {
  color: rgb(0, 0, 0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-right: 0.625rem;
}

.form-contact__input::-webkit-input-placeholder::after {
  content: "*";
  color: #F00;
}

.form-contact__input::-moz-placeholder::after {
  content: "*";
  color: #F00;
}

.form-contact__input:-ms-input-placeholder::after {
  content: "*";
  color: #F00;
}

.form-contact__input::-ms-input-placeholder::after {
  content: "*";
  color: #F00;
}

.form-contact__input::placeholder::after {
  content: "*";
  color: #F00;
}

.form-contact__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-contact__input:focus::-moz-placeholder {
  opacity: 0;
}

.form-contact__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form-contact__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form-contact__input:focus::placeholder {
  opacity: 0;
}

.form-contact__input._form-focus {
  border: 0.0625rem solid #A01DAD;
}

.form-contact__input._form-error {
  border-color: #F00;
}

.form-contact__error {
  display: none;
  color: #F00;
  font-size: 0.875rem;
}

._form-error .form-contact__error {
  display: block;
}

.form-contact__button {
  border-radius: 4.0625rem;
  padding: 1.5rem 4.8125rem;
  background: #EB8E38;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-contact__checkbox {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.form-contact__image {
  position: absolute;
  z-index: 5;
}

.form__error {
  position: absolute;
  top: 100%;
  margin-top: 0.1875rem;
  left: 1.5625rem;
  font-size: 0.75rem;
  color: #F00;
}

@media (min-width: 76.25em) {
  .form-contact__container {
    padding-top: 6.75rem;
  }

  .form-contact__container {
    padding-bottom: 6.875rem;
  }

  .form-contact__container::after {
    left: 39.75rem;
  }

  .form-contact__head {
    margin-bottom: 2.3125rem;
  }

  .form-contact__label {
    font-size: 2.375rem;
  }

  .form-contact__title {
    font-size: 3.375rem;
  }

  .form-contact__button {
    margin-top: 2.125rem;
  }

  .form-contact__image {
    bottom: -9.6875rem;
  }

  .form-contact__image {
    right: -4.0625rem;
  }

  .form-contact__image img {
    width: 39.625rem;
  }
}

@media (max-width: 62em) {
  .form-contact__image {
    right: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .form-contact__image img {
    width: 31.25rem;
  }
}

@media (max-width: 30em) {
  .form-contact__image {
    bottom: 0.0000000625rem;
  }
}

@media (max-width: 20em) {
  .form-contact__container {
    padding-top: 2.5rem;
  }

  .form-contact__container {
    padding-bottom: 2.5rem;
  }

  .form-contact__container::after {
    left: 0.0000000625rem;
  }

  .form-contact__head {
    margin-bottom: 1.25rem;
  }

  .form-contact__label {
    font-size: 1.8125rem;
  }

  .form-contact__title {
    font-size: 2.375rem;
  }

  .form-contact__button {
    margin-top: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .form-contact__body {
    max-width: 65%;
    width: 100%;
  }

  .form-contact__button {
    padding: 1.3125rem 4.1875rem;
  }

  .form-contact__image {
    opacity: 0.85;
  }
}

@media (max-width: 47.99875em) {
  .form-contact__container::before {
    background: rgba(235, 109, 31, 0.3);
  }

  .form-contact__container::after {
    display: none;
  }

  .form-contact__body {
    max-width: 100%;
  }

  .form-contact__input {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.9);
  }

  .form-contact__image {
    opacity: 0.25;
    z-index: 1;
  }
}

@media (max-width: 29.99875em) {
  .checkbox__label {
    font-size: 0.8125rem;
  }

  .select__title {
    height: 3.125rem;
  }

  .select__value:after {
    -webkit-transform: rotate(0) translate(0, -10%);
        -ms-transform: rotate(0) translate(0, -10%);
            transform: rotate(0) translate(0, -10%);
  }

  .form-contact__container::before {
    background: rgba(235, 109, 31, 0.15);
  }

  .form-contact__body {
    text-align: center;
  }

  .form-contact__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .form-contact__input {
    height: 3.125rem;
  }

  .form-contact__input::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
  }

  .form-contact__input::-moz-placeholder {
    color: rgb(0, 0, 0);
  }

  .form-contact__input:-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }

  .form-contact__input::-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }

  .form-contact__input::placeholder {
    color: rgb(0, 0, 0);
  }

  .form-contact__button {
    padding: 1.125rem 3.5625rem;
    font-size: 1.125rem;
  }

  .form-contact__image {
    display: none;
  }

  .form__error {
    font-size: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 76.25em) {
@supports (padding-top: clamp( 2.5rem , 0.9888888889rem  +  7.5555555556vw , 6.75rem )) {
    .form-contact__container {
      padding-top: clamp( 2.5rem , 0.9888888889rem  +  7.5555555556vw , 6.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.9888888889rem  +  7.5555555556vw , 6.75rem )) {
    .form-contact__container {
      padding-top: calc(2.5rem + 4.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9444444444rem  +  7.7777777778vw , 6.875rem )) {
    .form-contact__container {
      padding-bottom: clamp( 2.5rem , 0.9444444444rem  +  7.7777777778vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9444444444rem  +  7.7777777778vw , 6.875rem )) {
    .form-contact__container {
      padding-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 56.25);
    }
}

@supports (left: clamp( 0.0000000625rem , -14.1333332486rem  +  70.6666665556vw , 39.75rem )) {
    .form-contact__container::after {
      left: clamp( 0.0000000625rem , -14.1333332486rem  +  70.6666665556vw , 39.75rem );
    }
}

@supports not (left: clamp( 0.0000000625rem , -14.1333332486rem  +  70.6666665556vw , 39.75rem )) {
    .form-contact__container::after {
      left: calc(0.0000000625rem + 39.7499999375 * (100vw - 20rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8722222222rem  +  1.8888888889vw , 2.3125rem )) {
    .form-contact__head {
      margin-bottom: clamp( 1.25rem , 0.8722222222rem  +  1.8888888889vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8722222222rem  +  1.8888888889vw , 2.3125rem )) {
    .form-contact__head {
      margin-bottom: calc(1.25rem + 1.0625 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.8125rem , 1.6125rem  +  1vw , 2.375rem )) {
    .form-contact__label {
      font-size: clamp( 1.8125rem , 1.6125rem  +  1vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.8125rem , 1.6125rem  +  1vw , 2.375rem )) {
    .form-contact__label {
      font-size: calc(1.8125rem + 0.5625 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 2.375rem , 2.0194444444rem  +  1.7777777778vw , 3.375rem )) {
    .form-contact__title {
      font-size: clamp( 2.375rem , 2.0194444444rem  +  1.7777777778vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.0194444444rem  +  1.7777777778vw , 3.375rem )) {
    .form-contact__title {
      font-size: calc(2.375rem + 1 * (100vw - 20rem) / 56.25);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.9388888889rem  +  1.5555555556vw , 2.125rem )) {
    .form-contact__button {
      margin-top: clamp( 1.25rem , 0.9388888889rem  +  1.5555555556vw , 2.125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.9388888889rem  +  1.5555555556vw , 2.125rem )) {
    .form-contact__button {
      margin-top: calc(1.25rem + 0.875 * (100vw - 20rem) / 56.25);
    }
}
}

@media (min-width: 30em) and (max-width: 76.25em) {
@supports (bottom: clamp( -9.6875rem , 6.2837838868rem  +  -20.9459460811vw , 0.0000000625rem )) {
    .form-contact__image {
      bottom: clamp( -9.6875rem , 6.2837838868rem  +  -20.9459460811vw , 0.0000000625rem );
    }
}

@supports not (bottom: clamp( -9.6875rem , 6.2837838868rem  +  -20.9459460811vw , 0.0000000625rem )) {
    .form-contact__image {
      bottom: calc(0.0000000625rem + -9.6875000625 * (100vw - 30rem) / 46.25);
    }
}
}

@media (min-width: 62em) and (max-width: 76.25em) {
@supports (right: clamp( -4.0625rem , 17.6754389309rem  +  -28.5087723684vw , 0.0000000625rem )) {
    .form-contact__image {
      right: clamp( -4.0625rem , 17.6754389309rem  +  -28.5087723684vw , 0.0000000625rem );
    }
}

@supports not (right: clamp( -4.0625rem , 17.6754389309rem  +  -28.5087723684vw , 0.0000000625rem )) {
    .form-contact__image {
      right: calc(0.0000000625rem + -4.0625000625 * (100vw - 62rem) / 14.25);
    }
}
}

@media (min-width: 48em) and (max-width: 76.25em) {
@supports (width: clamp( 31.25rem , 17.0199115044rem  +  29.6460176991vw , 39.625rem )) {
    .form-contact__image img {
      width: clamp( 31.25rem , 17.0199115044rem  +  29.6460176991vw , 39.625rem );
    }
}

@supports not (width: clamp( 31.25rem , 17.0199115044rem  +  29.6460176991vw , 39.625rem )) {
    .form-contact__image img {
      width: calc(31.25rem + 8.375 * (100vw - 48rem) / 28.25);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (width: clamp( 28.125rem , 25.8928571429rem  +  11.1607142857vw , 31.25rem )) {
    .form-contact__image img {
      width: clamp( 28.125rem , 25.8928571429rem  +  11.1607142857vw , 31.25rem );
    }
}

@supports not (width: clamp( 28.125rem , 25.8928571429rem  +  11.1607142857vw , 31.25rem )) {
    .form-contact__image img {
      width: calc(28.125rem + 3.125 * (100vw - 20rem) / 28);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .form-contact__button:hover {
    -webkit-transform: translate(0.3125rem);
        -ms-transform: translate(0.3125rem);
            transform: translate(0.3125rem);
  }
}